:root {
	--button-primary-background: #3c336c;
	--button-secondary-background: #309f85;
	--button-tertiary-background: #eef1f6;
	--button-quaternary-background: #000000;
	--button-disabled-background: #c4c4c4;
	--button-active-background: #00000033;
	--button-text-primary: #ffffff;
	--button-text-secondary: #000000;

	--button-default-shadow: 0px 6px 25px 0px #7981ad73;
	--button-hover-shadow: 0px 20px 50px 0px #0000001a;
}
